<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Flours List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">
    <div class="pqr" *ngFor="let data of flour_list" >
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="{{data.full_image_path}}" class="center">
        </ion-thumbnail>
        <ion-label>
          <h3> {{data.name}} {{data.id}}</h3>

          <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              Quantity
            </ion-label>
            <ion-select formControlName="temp_quantity" class="max-width full-width">
              <ion-select-option value="01">01</ion-select-option>
              <ion-select-option value="02">02</ion-select-option>
              <ion-select-option value="03">03</ion-select-option>
              <ion-select-option value="04">04</ion-select-option>
              <ion-select-option value="05">05</ion-select-option>
              <ion-select-option value="06">06</ion-select-option>
              <ion-select-option value="07">07</ion-select-option>
              <ion-select-option value="08">08</ion-select-option>
              <ion-select-option value="09">09</ion-select-option>
              <ion-select-option value="10">10</ion-select-option>
              <ion-select-option value="11">11</ion-select-option>
              <ion-select-option value="12">12</ion-select-option> 
            </ion-select>
          </ion-item>

          <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              Product id
            </ion-label>
            <ion-input style="display:none" type="hidden"  formControlName="product_id1">  
            </ion-input>
          </ion-item>

          <ion-row>
            <ion-col>
              {{data.price}}
            </ion-col>
            <ion-col>
              <button type="submit">Submit</button>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </div>

  </form> -->


  <form [formGroup]="form" (ngSubmit)="onEventSubmit()">
    
      
      <div class="row" formArrayName="sections">
      
        <div  *ngFor="let flour of flour_list; let i = index" [formGroupName]="i">
         
        <ion-row>
          <ion-col>
           
          <img  src="{{flour.full_image_path}}" >
   
        </ion-col>
        <ion-col>
         
         

          <div class="form-group">
            <!-- <label for="packageprice">{{flour_name}}</label> -->
            <!-- <input type="text" class="form-control" autocomplete="off"  formControlName="name"> -->
            <h3><b>{{flour.name}}</b></h3>
          </div>

          <!-- <div class="form-group">
            <label for="packagequantity">Quantity</label>
             <input type="number" class="form-control" autocomplete="off"  formControlName="quantity"> 
            <ion-select  formControlName="quantity"> 
              <ion-select-option *ngFor="let number of numbers let i = index" >{{i + 1}}</ion-select-option>
          </ion-select>
          </div> --> 
 
          <div class="form-group">
            <label for="packagequantity">Quantity</label>
            <ion-row>
            <ion-col col-2>
              <button class="add-btn" clear (click)="decrementQty()"><ion-icon name="remove-circle" ></ion-icon></button>
            </ion-col><ion-col col-2>
              <ion-input [value]="qty" formControlName="quantity"></ion-input>
            </ion-col><ion-col col-2>
              <button class="add-btn" clear (click)="incrementQty()"><ion-icon name="add-circle" ></ion-icon></button>
            </ion-col></ion-row> 


         <!-- <ion-badge>
           <ion-row>
            <button clear (click)="incrementQty()"><ion-icon name="add-circle" ></ion-icon></button>
            <ion-input type="number"  min="1" [value]="qty" formControlName="quantity"></ion-input>
            <button clear (click)="decrementQty(i)"><ion-icon name="remove-circle" ></ion-icon></button>
          </ion-row>
          </ion-badge> -->
         
        </div>
          <!-- <ion-item>
            <ion-icon name="add-circle" (click)="incrementQty(i)" item-right></ion-icon>
            <ion-input type="number" min="1" [value]="qty" formControlName="quantity"></ion-input>
            <ion-icon name="remove-circle" (click)="decrementQty(i)" item-right></ion-icon>
        </ion-item> -->

          <div class="form-group">
            <!-- <label for="packagename">Product Id</label> -->
            <input type="hidden"  class="form-control" autocomplete="off" [ngModel]="flour.id" formControlName="category_id">
          </div>

          <div class="form-group">
            <!-- <label for="packageprice">{{flour_name}}</label> -->
            <!-- <input type="hidden" class="form-control" autocomplete="off"  formControlName="price"> -->
            <h3>Price:{{flour.price}}/kg</h3>
          </div>

          <ion-button  (click)="add(i)">Add</ion-button>
     
        </ion-col>
        </ion-row>
     <hr>
        </div>
      </div>
      <input [disabled]=!form.valid type="hidden" class="btn btn-primary" value="Submit">
  </form>
 
</ion-content>

<ion-footer class="animated fadeIn">
  <ion-toolbar color="primary">
    <ion-grid no-padding>
        <ion-row>
          <ion-col size="6" no-padding>
            <ion-button size="small" shape="round" expand="full" fill="clear" color="tertiary" routerLink="/home">
              <ion-icon slot="start" name="home"></ion-icon>
             Home
            </ion-button>
          </ion-col>
          <ion-col size="6" no-padding>
            <ion-button size="small" shape="round" expand="full" fill="clear" color="tertiary" routerLink="/cart">
              <ion-icon slot="start" name="cart"></ion-icon>
           Cart
            </ion-button>
          </ion-col>
          <!-- <ion-col size="4" no-padding>
            <ion-button size="small" shape="round" expand="full" fill="clear" color="light" (click)="settings()">
              <ion-icon slot="start" name="cog"></ion-icon>
              {{ 'app.pages.menu.settings' | translate }}
            </ion-button>
          </ion-col> -->
        </ion-row>
    </ion-grid> 
   </ion-toolbar>
</ion-footer> 