:host {
    ion-content {
      // --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light));
      --background:white;
    }

    // p{
    //   margin-top:10px;
    // }


  // .pqr{
  //          margin-top: 10px;
  // }

  .sc-ion-input-md-h {
    --padding-top: 0px;
    --padding-end: 0;
    --padding-bottom: 0px;
    --padding-start: 0px;
    font-size: inherit;
}

  img {
    max-width: 85%;
    border: 0;
    padding:10px;
  }


  h3 {
    font-size: 17px;
}
  
  // ion-grid{
  //   background-color: white;
  // }

  // ion-button{
  // margin-top: 10px;
  // }
}


