<ion-header>
  <ion-toolbar color="primary" class="animated fadeIn">
    <ion-buttons slot="start">
      <ion-menu-button color="white"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="white" class="fw700">Order List</ion-text>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content> 

  <div class="pqr" *ngFor="let order of order_list">
    
      <ion-item >



        <ion-label >
          <h3> <strong>Address</strong>&nbsp;:&nbsp;{{order.address}}</h3>
     <h2> <ion-icon name="home" ></ion-icon>Block:{{delivery.block_id}}</h2>
          <h2> <ion-icon name="home" ></ion-icon>Flat No:{{delivery.flat_no}}</h2> 
          <h3> <strong>Date</strong>&nbsp;:&nbsp;{{order.order_date}}</h3>
          <h3> <strong>Order Status</strong>&nbsp;:&nbsp;{{order.order_status}}</h3>
          
          </ion-label>
      
        </ion-item>
      </div>


    </ion-content> -->


<ion-content>
  <!-- <ion-card padding >
  <p><strong>date</strong></p>
  <p>order no</p>
<p>price</p>
<ion-button>view</ion-button>
</ion-card> -->
<div *ngFor="let data of order_list">
  <ion-item>
    <ion-label>
      <p><strong>{{data.order_date}}</strong></p>
      <p><strong>Order No</strong> :{{data.order_id}}</p>
      <p><strong>Order Status</strong> :{{data.order_status}}</p>
      <p><strong>Address</strong>:{{data.address}}</p>
      <ion-row>
        <ion-col>
          <ion-button (click)="details(data.order_id)">view</ion-button>
        </ion-col>
        <!-- <ion-col>
          <ion-button [disabled]="clicked" (click)="deliver(data.order_id)" clicked = true;> Delivered</ion-button>
        </ion-col> -->

        <ion-col>
          <p *ngIf="!(data.order_status==delivered)">
          <ion-button class="btn" (click)="deliver(data.order_id)" > Delivered</ion-button>
        </p>
        </ion-col>
   
      </ion-row>

    </ion-label>
  </ion-item>
</div>

 
</ion-content>

