<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card padding >
  <p><strong>date</strong></p>
  <p>order no</p>
<p>price</p>
<ion-button>view</ion-button>
</ion-card> -->
<div *ngFor="let data of my_order_list">
  <ion-item>
    <ion-label>
      <p><strong>{{data.order_date}}</strong></p>
      <p><strong>Order No</strong> :{{data.order_id}}</p>
      <p><strong>Address</strong>:{{data.address}}</p>
      <ion-row>
        <ion-col>
          <ion-button (click)="details(data.order_id)">view</ion-button>
        </ion-col>
 
      </ion-row>

    </ion-label>
  </ion-item>
</div>

 
</ion-content>


<ion-footer class="animated fadeIn">
  <ion-toolbar color="primary">
    <ion-grid no-padding>
        <ion-row>
          <ion-col size="6" no-padding>
            <ion-button size="small" shape="round" expand="full" fill="clear" color="tertiary" routerLink="/home">
              <ion-icon slot="start" name="home"></ion-icon>
             Home
            </ion-button>
          </ion-col>
          <ion-col size="6" no-padding>
            <ion-button size="small" shape="round" expand="full" fill="clear" color="tertiary" routerLink="/cart">
              <ion-icon slot="start" name="cart"></ion-icon>
           Cart
            </ion-button>
          </ion-col>
          <!-- <ion-col size="4" no-padding>
            <ion-button size="small" shape="round" expand="full" fill="clear" color="light" (click)="settings()">
              <ion-icon slot="start" name="cog"></ion-icon>
              {{ 'app.pages.menu.settings' | translate }}
            </ion-button>
          </ion-col> -->
        </ion-row>
    </ion-grid> 
   </ion-toolbar>
</ion-footer> 