:host {
    ion-content {
      // --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light));
      --background:white;
    }

    // p{
    //   margin-top:10px;
    // }


  // .pqr{
  //          margin-top: 10px;
  // }

  .sc-ion-input-md-h {
    --padding-top: 0px;
    --padding-end: 0;
    --padding-bottom: 0px;
    --padding-start: 0px;
    font-size: inherit;
}

  img {
    max-width: 85%;
    border: 0;
    padding:10px;
  }

  ion-badge{
    width: 70%;
    height:32px;
    background-color: white;
    color: black;
    padding: 0px;
 margin-top:5px;
    text-align: center;
  border-radius:0px;
    border:1px solid black
  }

.btn{
    // background-color: darkgray;
    // padding-bottom:0px;
    height: 33px;
    background-color: #3f773f96;
  }


  h3 {
    font-size: 17px;
    padding:0px !important;
    margin:0px !important;
}

// .native-input.sc-ion-input-ios {
//   border-radius: var(--border-radius);
//   padding-left: var(--padding-start);
//   padding-right: var(--padding-end);
//  padding-top: 0px;
//    padding-bottom: 0px;
//   font-family: inherit;
//   font-size: inherit;
//   font-style: inherit;
//   font-weight: inherit;
//   letter-spacing: inherit;
//   text-decoration: inherit;
//   text-overflow: inherit;
//   text-transform: inherit;
//   text-align: inherit;
//   white-space: inherit;
//   color: inherit;
//   display: inline-block;
//   -ms-flex: 1;
//   flex: 1;
//   width: 100%;
//   max-width: 100%;
//   max-height: 100%;
//   border: 0;
//   outline: none;
//   /* background: transparent; */
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
// }
  
  // ion-grid{
  //   background-color: white;
  // }

  // ion-button{
  // margin-top: 10px;
  // }
  
    // .center{
    //   // width: 150px;
    //   //   margin: 40px auto;
        
    //   }

    // center{
    //     text-align: center;
    // height: 15px;
    // /* width: 45px !important; */
    // border: 1px solid;
    // /* box-sizing: border-box; */
    // padding: 12px;
    // margin: 0px;
    // width: 0px !important;
    //   }
  
}


