<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Flours </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">
    <div class="pqr" *ngFor="let data of flour_list" >
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="{{data.full_image_path}}" class="center">
        </ion-thumbnail>
        <ion-label>
          <h3> {{data.name}} {{data.id}}</h3>

          <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              Quantity
            </ion-label>
            <ion-select formControlName="temp_quantity" class="max-width full-width">
              <ion-select-option value="01">01</ion-select-option>
              <ion-select-option value="02">02</ion-select-option>
              <ion-select-option value="03">03</ion-select-option>
              <ion-select-option value="04">04</ion-select-option>
              <ion-select-option value="05">05</ion-select-option>
              <ion-select-option value="06">06</ion-select-option>
              <ion-select-option value="07">07</ion-select-option>
              <ion-select-option value="08">08</ion-select-option>
              <ion-select-option value="09">09</ion-select-option>
              <ion-select-option value="10">10</ion-select-option>
              <ion-select-option value="11">11</ion-select-option>
              <ion-select-option value="12">12</ion-select-option> 
            </ion-select>
          </ion-item>

          <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              Product id
            </ion-label>
            <ion-input style="display:none" type="hidden"  formControlName="product_id1">  
            </ion-input>
          </ion-item>

          <ion-row>
            <ion-col>
              {{data.price}}
            </ion-col>
            <ion-col>
              <button type="submit">Submit</button>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </div>

  </form> -->


  <form [formGroup]="form" (ngSubmit)="onEventSubmit()">
    
      
      <div class="row" formArrayName="sections">
      
        <div  *ngFor="let flour of flour_list; let i = index" [formGroupName]="i">
         
        <ion-row>
          <ion-col>
           
          <img  src="{{flour.full_image_path}}" >
   
        </ion-col>
        <ion-col>
         
         

          <div class="form-group" style="margin-top:10px;">
         
            <h3><b>{{flour.name}}</b></h3>
          </div>

     
 
          <div class="form-group">
    

            <!-- <label for="packagequantity">Quantity</label> -->
         <!-- <ion-row>
            <ion-col col-2>
              <button class="add-btn" clear (click)="decrementQty(i)"><ion-icon name="remove-circle" ></ion-icon></button>
            </ion-col><ion-col col-2>
              <ion-input  placeholder="1" [value]="qty[i]" formControlName="quantity"></ion-input>
            </ion-col><ion-col col-2>
              <button class="add-btn" clear (click)="incrementQty(i)"><ion-icon name="add-circle" ></ion-icon></button>
            </ion-col>
          </ion-row>  -->


<ion-badge class="center">
           <ion-row>
            <button class="btn" clear  ><ion-icon name="remove" (click)="decrementQty(i)"></ion-icon></button>
            <ion-input class="input" placeholder="1" [value]="qty[i]" formControlName="quantity" style="padding:0px !important;font-size:15px;"></ion-input>
            <button class="btn" clear (click)="incrementQty(i)"  ><ion-icon name="add" ></ion-icon></button>
          </ion-row>
        </ion-badge>
         
        </div>
   

          <div class="form-group">
         
            <input type="hidden"  class="form-control" autocomplete="off" [ngModel]="flour.id" formControlName="category_id">
          </div>

          <div class="form-group">
      
            <h3>&#8377;{{flour.price}}/kg</h3>
          </div>

          <ion-button  (click)="add(i)" style="height:20%;width:50%">Add</ion-button>
     
        </ion-col>
<!-- <ion-col>
        <table style="border:2px;">
            <tr>
              <td colspan="2">Gehu</td>
            </tr>
            <tr>
                <td>Quentity</td> <td> Buttons </td>
            </tr>
            <tr>
              <td colspan="2">Price</td>
            </tr>
            <tr>
              <td colspan="2">Button</td>
            </tr>
          </table>
        </ion-col> -->
        </ion-row>
     <hr>
        </div>
      </div>
      <input [disabled]=!form.valid type="hidden" class="btn btn-primary" value="Submit">
  </form>



 
</ion-content>

<ion-footer class="animated fadeIn">
  <ion-toolbar color="primary">
    <ion-grid no-padding>
        <ion-row>
          <ion-col size="6" no-padding>
            <ion-button size="small" shape="round" expand="full" fill="clear" color="tertiary" routerLink="/home">
              <ion-icon slot="start" name="home"></ion-icon>
             Home
            </ion-button>
          </ion-col>
          <ion-col size="6" no-padding>
            <ion-button size="small" shape="round" expand="full" fill="clear" color="tertiary" routerLink="/cart">
              <ion-icon slot="start" name="cart"></ion-icon>
           Cart
            </ion-button>
          </ion-col>
          <!-- <ion-col size="4" no-padding>
            <ion-button size="small" shape="round" expand="full" fill="clear" color="light" (click)="settings()">
              <ion-icon slot="start" name="cog"></ion-icon>
              {{ 'app.pages.menu.settings' | translate }}
            </ion-button>
          </ion-col> -->
        </ion-row>
    </ion-grid> 
   </ion-toolbar>
</ion-footer> 