<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngIf="current_cart !== undefined">
  <table>
    <tr> 
      <th> Flour Name</th>

      <th> Quantity</th>

      <th> Price</th>

      <th> Amount</th>

      <th>Action</th>
    </tr>

    <tr *ngFor="let data of current_cart; let i = index"> 
     

        <td> {{data.name}}</td>

        <td>{{data.quantity}}</td>

        <td>{{data.price}}</td>

        <td> {{data.amount}}</td>

    <td> 
    <ion-buttons class="btn btn-success" clear (click)="delete(data.detail_id, i)">
    <ion-icon name="close"></ion-icon>
    </ion-buttons> 
   </td>
    </tr>
 

  


  <tr>
<td></td>
<td></td>
      <td> <strong>Total Amount</strong></td>
      <td><strong>{{sum}}</strong></td>
      <td></td>
    </tr>

  </table>
    <!-- <ion-col>
      <strong>र &nbsp;{{sum}}</strong>
    </ion-col>
    <ion-col></ion-col>
  </ion-row> -->


  <ion-list padding>
    <ion-item>
      <ion-icon name="home" item-end></ion-icon>
      <ion-label style="color:black">Address</ion-label>
      <ion-input type="text" [(ngModel)]="addr"></ion-input>
    </ion-item><br><br>
  </ion-list>

  <div text-center>
    <ion-button full round (click)="order()">Place Order</ion-button>
  </div>
</div>
<div *ngIf="current_cart === undefined" style="text-align: center;margin-top: 250px;">
  <p><strong>Your cart is empty</strong></p>

</div>
</ion-content>


<ion-footer class="animated fadeIn">
  <ion-toolbar color="primary">
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="6" no-padding>
          <ion-button size="small" shape="round" expand="full" fill="clear" color="tertiary" routerLink="/home">
            <ion-icon slot="start" name="home"></ion-icon>
            Home
          </ion-button>
        </ion-col>
        <ion-col size="6" no-padding>
          <ion-button size="small" shape="round" expand="full" fill="clear" color="tertiary" (click)="cart()">
              <!-- routerLink="/cart" -->
            <ion-icon slot="start" name="cart"></ion-icon>
            Cart
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>